export(
	"qselect",
	"qorder",
	"qmedian",
	"qmad")

export(
	"bsearch",
	"rsearch",
	"kdtree",
	"kdsearch",
	"knnsearch")

export(
	"roll",
	"roll_apply",
	"filt1_mean",
	"filt1_conv")

export(
	"peaks_find",
	"peaks_snrs",
	"peaks_sums",
	"peaks_prominences",
	"peaks_areas",
	"peaks_centroids",
	"peaks_widths")

export("col_sums")

useDynLib("CardinalCore", .registration=TRUE, .fixes="C_")
