export(
	"qselect",
	"qorder",
	"qmedian",
	"qmad")

export(
	"bsearch",
	"kdtree",
	"kdsearch",
	"knnsearch")

export(
	"roll",
	"roll_apply",
	"filt1_mean",
	"filt1_conv")

export(
	"peaks_find",
	"peaks_prominences",
	"peaks_widths",
	"peaks_areas",
	"peaks_summary")

export(
	"stream_stats",
	"merge_stats",
	"group_stats")

export("col_sums")

useDynLib("CardinalCore", .registration=TRUE, .fixes="C_")
